.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}