.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #07070f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}