.Chat{
    padding: 5px;
    height: 70vh;
    width: 60vw;
    overflow-y: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Message{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}