.Chat{
    padding: 10px;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Message{
    display: flex;
    justify-content: center;
    align-items: center;
}